 .logo{
    width: 35px;
}
nav{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    background-color: white;
    position: fixed;
    top: 5px;
   width: 1500px;
    
}
.search{
    width: 35px ;
}
.bag{
    width: 35px;
}


.first-div{
    height: 500px;
    background-color:purple;
    margin-top: 40px;
    position: relative;
    top: 150px;
    width: 100%;
}
.shop{
   border-color:rgb(0, 140, 235) ;
   color: rgb(24,126, 217);
   color:rgb(0, 140, 235)  ;
   border-radius: 20px;
   width: 200px;
    height: 50px;
   margin-left: 300x;
   position: absolute;
   left:616px ;
   top: 800px; 
   font-size: 20px;
   } 









.buy-for-colledge{
    background-color:rgb(0, 140, 235);
    border-radius: 30px;
    height: 170px;
    width: 300px;
    margin-left: 600px;
    
}
.heading-1{
    margin-top: 20px;
    position: relative;
    top: 20px;
    left: 30px;
    color: white;
    font-family: sans-serif;
}
.small-heart{
    margin-left: 550px;
    position: relative;
    top: 80px;
    left: 10px;
    
}
.mac-small{
    margin-left: 150px;
    position: relative;
    top: 110px;
    left: 10px;
}
.small-ipad{
    margin-left: -450px;
    position: relative;
    top: 320px;
    left: 10px;
}
.education-savings{
    height: 30px;
    width: 200px;
    background-color: chartreuse;
    position: absolute;
    top: 360px;
    left: 730px;
    border-radius: 10px;
    border: 3px solid white;

}
h3{
    font-family: sans-serif;
    font-size:medium;
    margin-top: 7px;
    margin-left: 10px;
   
}
.gift-card{
    height: 100px;
    width: 200px;
    background-color: crimson;
    position: absolute;
    left: 750px;
    top: 390px;
    border-radius: 20px;
}
h2{
    font-family: sans-serif;
    font-size:xx-larger;
    margin-top: 7px;
    margin-left: 10px;
   
}
.apple-card{
    position: absolute;
    top: 420px;
    left: 880px;
}
.only-at-apple-store{
    height: 30px;
    width: 200px;
    background-color: chocolate;
    position: absolute;
    top: 460px;
    left: 730px;
    border-radius: 10px;
}
.macbook-air{
    margin-left: 450px;
}
.second-div{
    justify-content: center;
    align-items: center;
}
.m3-machine{
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top:955px ;
    left:665px ;
}


.First-macbook{
    text-align: center;
    margin-left: 10px;
}
.macbook-button-1{
   position: relative;
   top: -455px;
   left: -520px;
   color: white;
   background-color:rgb(0, 140, 235) ;
   border-radius: 20px;
   height: 40px;
   width: 100px;
   font-size:medium;
   font-family: sans-serif;
   font-weight: bold;
   border-color:rgb(0, 140, 235);
   

}
.macbook-button-2{
    position: relative;
    top: -465px;
    left: -490px;
    color:rgb(0, 140, 235);
    border-radius: 20px;
    height: 40px;
    width: 100px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color:rgb(0, 140, 235);
}
.black-background{
    width: 100%;
    height: 800px;
    background-color: black;
}
.iphone{
    color: white;
    text-align: center;
    margin-left: 10px;
    font-family: sans-serif;
    margin-top: 10px;
    position: relative;
    top: 40px;
    font-size: 60px;
}
.iphone-cameras{
    color: white;
    text-align: center;
    margin-left: 10px;
    font-family: sans-serif;
    margin-top: 10px;
    position: relative;
    top: 40px;

}
.iphone-images{
    margin-left: 380px;
    margin-top: 135px;
}
.iphone-button-1{
    position: relative;
    top: -530px;
    left: -530px;
    color: white;
    background-color:rgb(0, 140, 235) ;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: rgb(0, 140, 235);
}
.iphone-button-2{
    position: relative;
    top: -530px;
    left: -500px;
    color:rgb(0, 140, 235);
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
     border-color:rgb(0, 140, 235);
}
.orange-background{
    width: 50%;
    height:50%;
    margin-top: 10px;

}
.orange-image{
    height: 100%;
    width: 100%;
}
.out-of-office{
    position: absolute;
    top: 2410px;
    left: 300px;
    color:white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
.orange-h3{
    position: absolute;
    top: 2470px;
    left: 260px;
    color:white;
    font-family: sans-serif;
    /* font-weight: bolder; */
    /* font-size: xx-large; */
}
.orange-button-1{
    position: absolute;
    top: 2510px;
    left: 260px;
    color: black;
    /* background-color:white ; */
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: white;
}

.orange-button-2{
    position: absolute;
    top: 2510px;
    left: 400px;
    color: black;
    /* background-color:white ; */
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: white;
}
.screens-3{
    height: 50%;
    width: 50%;
    margin-top: 10px;
    margin-left: 760px;
    margin-top: -718px;
}
.screens-3-image{
    height: 100%;
    width: 100%;
}
.intelligence{
    position: absolute;
    top: 2420px;
    left: 1060px;
    color:black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
.AI{
    position: absolute;
    top: 2480px;
    left: 1090px;
    color:black;
    font-family: sans-serif;
    font-size: large;
}
.screens-3-button-1{
    position: absolute;
    top: 2520px;
    left: 1050px;
    color: rgb(0, 140, 235);
    /* background-color:white ; */
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color:rgb(0, 140, 235);
}
.screens-3-button-2{
    position: absolute;
    top: 2520px;
    left: 1190px;
    color:rgb(0, 140, 235);
    /* background-color:white ; */
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color:rgb(0, 140, 235);
}
.ipad{
    height: 700px;
    width: 50%;
    margin-top: 10px;
    background-color: pink;
}
.ipad-image{
    height: 100%;
    width: 100%;
}
.ipad-h1{
    position: absolute;
    top: 3135px;
    left: 310px;
    color:white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
.ipad-h3{
    position: absolute;
    top: 3200px;
    left: 240px;
    color:white;
    font-family: sans-serif;
}
.ipad-button-1{
    position: absolute;
    top:  3250px;
    left: 240px;
    color: white;
    background-color:rgb(0, 140, 235) ;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color:rgb(0, 140, 235);
}
.ipad-button-2{
    position: absolute;
    top:  3250px;
    left: 400px;
    color: rgb(0, 140, 235);
    background-color: black ;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: rgb(0, 140, 235);
}
.apple-watch{
    height: 700px;;
    width: 752px;
    margin-top: 10px;
    background-color: darkgoldenrod;
    margin-left: 760px;
    margin-top: -700px;
}
.apple-watch-logo{
    position: absolute;
    top: 3840px;
    left: 1020px;
    margin-top: -720px;
    /* margin-left: 300px;
    margin-top: 30px; */
}
.apple-watches{
    height: 100%;
    width: 100%;
}
.apple-watch-h2{
    position: absolute;
    top: 3260px;
    left: 1010px;
    color:white;
    font-family: sans-serif;
}
.apple-watch-button-1{
    position: absolute;
    top:  3320px;
    left: 1030px;
    color: white;
    background-color: rgb(0, 140, 235) ;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: rgb(0, 140, 235);
}
.apple-watch-button-2{
    position: absolute;
    top:  3320px;
    left: 1170px;
    color: rgb(0, 140, 235);
    background-color: black ;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: rgb(0, 140, 235);
}
.apple-card-official{
    height: 700px;;
    width: 752px;
    background-color: darkgoldenrod;
    margin-top: 10px;
}
.apple-card-image{
    height: 100%;
    width: 100%;
}
.apple-card-logo{
    position: absolute;
    top: 3850px;
    left: 330px;
    width: 150px;

}
.apple-card-h2{
    position: absolute;
    top: 3910px;
    left: 240px;
    text-align: center;
    font-weight: lighter;
}
.apple-card-button-1{
    position: absolute;
    top:  4000px;
    left: 250px;
    color: white;
    background-color: rgb(0, 140, 235);
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: rgb(0, 140, 235);
}
.apple-card-button-2{
    position: absolute;
    top:  4000px;
    left: 400px;
    color: rgb(0, 140, 235);
    /* background-color: white ; */
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: rgb(0, 140, 235);
}
.apple-trade-in{
    height: 700px;;
    width: 752px;
    background-color: darkgoldenrod;
    margin-top: 10px;
    margin-left: 760px;
    margin-top: -700px;
}
.apple-trade-in-image{
    height: 100%;
    width: 100%;
}
.apple-trade-in-logo{
    position: absolute;
    top: 3858px;
    left: 1045px;
    width: 200px;
}
.apple-trade-in-h2{
    position: absolute;
    top: 3910px;
    left: 970px;
    text-align: center;
    font-weight: lighter;
}
.apple-trade-in-button-1{
    position: absolute;
    top:  4000px;
    left: 1070px;
    color: white;
    background-color: rgb(0, 140, 235) ;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;
    border-color: rgb(0, 140, 235);
}
.paragraph{
    height: 670px;
    width: 100%;
    background-color:gainsboro;
    margin-top: 20px;
}
.gap{
    position: absolute;
    top: 4500px;
    padding: 50px;
}
.footer{
    height: 800px;
    width: 100%;
    background-color: gainsboro;
    margin-top: 10px;
}
.for-business{
    display: flex;
}
.apple-values{
    /* display: flex; */
    margin-left: 400px;
    margin-top: -665px;
}
.apple-wallet{
    margin-left: 400px;
    /* margin-top: 100px; */
}
.entertainment{
    margin-left: 400px;
}
.for-education{
    margin-left: 400px;
}
.for-goverment{
    margin-left: 400px;
}
.about-people{
   
    margin-left: 800px;
    margin-top: -665px;
}
.for-healthcare{
    margin-left: 800px;
    /* margin-top: 165px; */
}
.first-image{
    margin-top: 100px;
    margin-left: 450px;

}
.first-div-1{
    height: 800px;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 100px;
    top: 100px;
}